[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytz = "*"
fontawesomefree = "*"
python-decouple = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
