{% extends 'base.html' %} {% load static %}

{% block title %}Lumber Lengths{% endblock %}
{% block content %}
    {% for lumber in lumber_list %}
        <h2>{{ lumber.name }} ({{ lumber.ref_id }})</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Length</th>
                    <th>Quantity</th>
                    <th>Edit Quantity</th>
                    <th>Delete Length</th>
                </tr>
            </thead>
            <tbody>
                {% for length in lumber.length_set.all %}
                    <tr>
                        <td>{{ length.length }}</td>
                        <td>{{ length.quantity }}</td>
                        <td><a href="{% url 'changequantity' ref_id=lumber.ref_id length=length.length %}">Edit</a></td>
                        <td><a href="{% url 'lengthdelete' pk=length.pk %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}