{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link
            rel="stylesheet"
            type="text/css"
            href=""{% static 'inventory/style.css' %}
        />
        <title>{% block title %}Inventory Management{% endblock %}</title>
        {% block head%}{% endblock %}
    </head>
    <body>
        <div class="app">
          <header>
            <div class="header-first-row">
              <img
                src="{% static 'inventory/logo.png' %}"
                alt="Kuiken Brothers Logo"
                width="80px"
              />
              <h1 class="title">Inventory Management</h1>
            </div>
            <nav class="navbar">
              <a class="nav-item" href="{% url 'home' %}">Home</a>
              <a class="nav-item" href="{% url 'lumbercreate' %}">New Board</a>
              <a class="nav-item" href="{% url 'lengthcreate' %}">New Length</a>
              <a class="nav-item" href="{% url 'logout' %}">Logout</a>
            </nav>
          </header>
          <main>{% block content %}{% endblock %}</main>
        </div>
      </body>
    </html>
    
</html>